* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
    
}

.box {
    background: linear-gradient(135deg,rgba(1, 1, 47, 0.777) , rgb(0, 0, 0) );
    min-height: 100vh;
    background-repeat: no-repeat;
    padding: 100px 0;
   
}

.container {
    width: 90%;
    max-width: 600px;
    
    background-image: linear-gradient(0deg, rgba(137, 84, 84, 0.8) , rgba(3, 38, 179, 0.8)), url(images/background.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 2px;
    color: white;
    
    margin: 80px auto;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    
}

.container h1 {
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;

}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;

}

.buttons img {
    width: 50px;
    margin: 10px 20px ;
    cursor: pointer;
}

.buttons img:nth-child(2) {
    width: 88px;
}

/* .enlarge-on-click {
    transition: all 4s ease;
    box-shadow: none;
   }
   
   .enlarge-on-click:active {
    transform: scale(1.3);
    box-shadow: 0 0 0 10px #00f;
   } */

/* Add this CSS class for the enlarge effect */
.enlarge-on-click {
    transition: transform 0.3s ease-in-out;
}

.enlarge-on-click.enlarged {
    transform: scale(1.3);
}


/* TOOLTIP EFFECT CSS */

/* Add this CSS class for the tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    /* transform: translateX(-50%); */
    
    transform: translate(-20px, 100px);
    
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
